#loader{
  background:black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0.9;
}

svg {
    height: 100%;
    width: 100%;
  }
  path{
    stroke: #f22613;
    stroke-width: 1px;
    fill: none;
    stroke-dasharray: 150, 200;
    stroke-dashoffset: 0;
    animation: pulse 4s infinite linear;

  }

@keyframes pulse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1050;
  }
}