nav.navbar.navbar-inverse {
    min-height: 50px !important;
}

.navbar-inverse.navbar-brand,
.navbar-inverse.navbar-brand:hover,
.navbar-inverse.navbar-brand:focus{
    color: black !important;
     transition: all .2s ease-in-out !important;
}
.navbar-inverse .navbar-nav>li>a{
    color:#fff!important;
     transition: all .2s ease-in-out !important;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navabr-inverse .navbar-nav > li > a:focus{
    background-color: #428bca !important;
    transition: all .2s ease-in-out !important;
}
.navbar-inverse .navbar > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
    color: #fff !important;
    background-color: #428bca !important;
     transition: all .2s ease-in-out !important;
}

.bottomright{
  font-family: arial;
}
.bottom{
  text-align: center;
}
.footer {
    padding:10px;
    color: #cccccc;
    background-color: #222222;
}
h1{
    text-align: center;
    padding:40px;
}
#leading{
    padding-left: 20px;
}